body {
    font-family: sans-serif;
}

p {
    margin: 20px;
    font-size: 12px;
}

h6 {
    margin: 20px; 
    font-size: 14px;
    font-weight: bold;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(bphead.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }


.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: aliceblue
}

.hero h2 {
    color: aliceblue
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
    transform: rotate(90deg);
}

  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  